<%- include('../partials/header.ejs') %>
    <% if(cohort){ %>
        <form action="/cohorts/<%- cohort.id %> " method="post">
            <input type="hidden" name="_method" value="patch">
            <div class="mb-3 mx-3">
                <label for="logoUrl" class="form-label">Logo Url</label>
                <input type="text" class="form-control" id="logoUrl" name="logoUrl" value="<%- cohort.logoUrl %>">
            </div>
            <div class="mb-3 mx-3">
                <label for="cohort_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="cohort_name" name="cohort_name" value="<%- cohort.name %>">
            </div>
            <div class="mb-3 mx-3">
                <label for="members" class="form-label">Members</label>
                <textarea type="text" class="form-control" id="members" name="members"><%- cohort.members %></textarea>
            </div>
            <button type="submit" class="btn btn-primary mx-3">Update</button>

        </form>

        <% } %>


            <%- include('../partials/footer.ejs') %>